* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: red;
}
header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}


a:link,
a:visited {
  color: black;
  text-decoration: none;
}

a:active {
  color: grey;
}

a:hover {
  color: grey;
}
.brand {

  color: #680747;
  font-size: 60px;
}

.introname{
  padding-bottom: 30px;
}

.timeform{
  padding-bottom: 60px;
}

.container{
  width: 80%;
  background: #78a6fe;
  border-radius: 10px;
}

.submit {
  background-color: #ffd98e;
  border-radius: 10px;
  border: #ffd98e;
  color: black;
  padding: 0.7em;
  cursor: pointer;
  width: 100px;
}
