<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logging</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
</head>
<body>
<h1 class="animated bounce infinite">Time Registration</h1>

<form class="row gy-2 gx-3 align-items-center" action="/" method="post" th:object="${user}">
    <div class="col-sm-3">
        <div class="form-floating mb-3">
            <input class="form-control" id="floating-firstName" placeholder="First Name" type="text"
                   th:field="*{firstName}"/>
            <label for="floating-firstName">First name</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-floating mb-3">
            <input class="form-control" placeholder="Last Name" type="text" id="floating-lastName"
                   th:field="*{lastName}"/>
            <label for="floating-lastName"> Last name</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-floating mb-3">
            <input class="form-control" placeholder="Worked hours"
                   type="number" id="floating-time"
                   step="0.5" min="0" max="8"
                   th:field="*{time}"/>
            <label class="form-label" for="floating-time"> Worked hours</label>
        </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <input class="btn btn-primary" type="submit"/>
        </div>
    </div>
    </div>
</form>


<table th:if="${session.users != null}">
    <tr>
        <th>First name:</th>
        <th>Last name:</th>
        <th>Hours worked:</th>
    </tr>
    <tr th:each="user:${session.users}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.time}"></td>
    </tr>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>

<!--Nice to have -- Graphic view of checkin and checkout via a clock view: Check in: <input type="button" name="checkIn"/>
    Check out: <input type="button" name="checkOut"/>-->